
@font-face {
  font-family: ABeeZee;
  src: url(ABeeZee-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
  background-color: black;
}

/*Canvas style is used for styling the three.js window*/
canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 800px;
  border: 3px solid blue;
  border-radius: 3px;
}

h1 {
  font-size: 45px;
  text-align: center;
  padding-top: 40px;
  color: white;
}

h2 {
  font-size: 22px;
  text-align: center;
  color: white;
}

p {
  padding-left: 30%;
  padding-right: 30%;
  font-size: 25px;
  color: white;
  text-align: center;
}

p span {
  background-color: black;
}

a {
  color: red;
  margin: auto;
}
